.evento-edit {
  .img-container {
    display: flex;
    flex-direction: row;
    display: inline;

    img {
      width: 200px;
      margin: 10px;
    }

    button {
      // position: relative;
      width: fit-content;
      top: 3px;
      right: 3px;
    }
  }

  .form-container {
    .title,
    .descritprion,
    .capaity,
    .tags,
    .time-date,
    .img-upload {
      margin: rem(15px) auto;
      label {
        margin-right: 15px;
      }
    }
    * {
      outline: $clr1;
      font-family: JosefinSansLight;
    }
    .el-input__inner {
      font-size: 1rem;
    }
    .title,
    .descritprion {
      input,
      textarea {
        width: 60%;
        margin: 0 auto;
      }
    }
    input:hover,
    textarea:hover {
      cursor: pointer;
      color: $clr1;
    }

    .tags {
      .el-icon-close {
        border-color: $clr1;
      }
      .el-tag {
        .el-icon-close {
          color: $clr2;

          &:hover {
            background-color: $clr1;
          }
        }
      }
      .el-tag,
      .el-input {
        background-color: $clr3;
        color: $clr2;
      }
      .el-tag + .el-tag {
        margin-left: 10px;
      }
      .button-new-tag {
        margin-left: 10px;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
        &:hover {
          border-color: $clr2;
          background-color: $clr3;
          color: $clr2;
        }
      }
      .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
      }
    }

    .img-upload {
      .custom-file-upload {
        border: 1px solid #dcdfe6;
        color: #606266;
        border-radius: 4px;
        font-size: 0.9375rem;
        display: inline-block;
        padding: 12px 20px;
        margin: 0;
        cursor: pointer;
        &:hover {
          background-color: $clr1;
          color: $clr2;
          border-color: $clr2;
        }
      }
      input[type="file"] {
        display: none;
      }
    }

    button {
      font-size: rem(15px);
    }
    button:hover {
      background-color: $clr1;
      color: $clr2;
      border-color: $clr2;
    }
  }
}
