.evento-filter {
    margin: 1rem auto;
    .search-erea {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem auto;
        justify-content: center;
        >*{
            margin-right: 10px;
        } 
    }
}

// @include for-narrow-layout {
//     .search-erea {
//         flex-direction: row;
//     }
//   }