.evento-list {
  margin: 0 65px 20px 65px;
  display: grid;
  grid-template-rows: auto;

  .evento-preview {
    cursor: pointer;
    transform: box-shadow 100s;
    background-color: #fff8f0;
    border-radius: 20px;

    &:hover {
      box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.27);
    }

    .el-carousel__container {
      height: 140px;
    }

    img {
      width: 230px;
    }

    h3 {
      margin: 5px;
    }

    .rate-container {
      margin: 0 auto;
      span {
        color: $clr1;
        margin: 0;
      }
      .star {
        font-size: 1.2rem;
      }
      .rate {
        font-size: 1rem;
      }
    }
  }

  @include for-narrow-layout {
    grid-template-columns: repeat(1fr);
    grid-row-gap: 20px;
    .evento-preview {
      margin: 15px auto;
      img {
        border-radius: 0;
      }
    }
  }

  @include for-normal-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    .evento-preview {
      width: 230px;
      margin: 15px auto;
      img {
        border-radius: 20px;
      }
    }
  }
  
  @include for-wide-layout {
    grid-template-columns: repeat(3, 1fr);
    .evento-preview {
      width: 230px;
      // margin: 15px auto;
    }
  }

  
}
