
.evento-preview {
    cursor: pointer;
    padding: 15px;
    transition: all .4s;
    border-radius: 7px 7px 0 0;
    text-align: left;
    color: black;
    border: none;
    
    .el-carousel__container {
        height: 160px;
        figure{
            margin: 0;;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }
        }
        }
    .el-carousel__indicators {
        height: 26px;
    }

    .preview-content {
        letter-spacing: -0.4px;
        margin-left: 5px;
        margin-right: 5px;
        .owner-rate {
            margin-bottom: rem(8px);
            .owner {
                img {
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    margin: auto 10px auto 0;
                    object-fit: cover;
                }
                p {
                    margin: auto;
                }
            }
            .rate{
                .star{
                    color: $clr1;
                    line-height: 1;
                    font-size: rem(23px);
                }
                .avg {
                    color: black;  
                    font-size: rem(20px);   
                }
                .count{
                    color: gray;  
                    font-size: rem(18px);
                }
            }
        }
        .details {
            >* {
                line-height: 1.1;
                margin-bottom: rem(5px);
            }
            p {
                font-size: rem(18px);
            }
            h3 {
                text-transform: capitalize;  
            }
            .time-member {
                .members {
                    .member {
                        color: $clr1;
                        font-size: rem(18px);
                        line-height: 1;
                    }
                    p {
                        font-size: rem(15px);
                    }
                    &:nth-child(1) {
                        margin-left: -5px;
                    }
                }
            }
            
        }
    }
}



@include for-narrow-layout {
    .evento-preview {
        padding: 0 0 10px;
    }
}


