.evento-list {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: center;
    grid-gap: 30px;
    margin: 15px auto;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 15px;
    // .evento-card {
    //   width: 100%;
    // }
}


  @include for-normal-layout {
    .evento-list {
      grid-template-columns: repeat(2, 1fr);
      // grid-template-columns: repeat(auto-fit, 300px);
      // .evento-card {
      //   width: 50%;
      // }
    }
  }
  
  @include for-wide-layout {
    .evento-list {
      grid-template-columns: repeat(5, 1fr);
      // grid-template-columns: repeat(auto-fit, 250px);
      // .evento-card {
      //   width: 18%;
      // }
    }
  }


