.home-page {

  .home-img-container {
    grid-column: 0 / 5;
    grid-row: 2 / 3;
    
    .parallax {
      /* The image used */
      background-image: url("https://res.cloudinary.com/des4awkkx/image/upload/v1594899621/parkour/wnvdnzqj5afqfk2igpsk.jpg");
      grid-column: 1 / 10;
  
      /* Set a specific height */
      min-height: 500px;
  
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h2 {
      font-size: 2rem;
      margin: 45px 0;
      transform: rotate(-7deg);
      position: absolute;  
      text-shadow: 0px 0px 6px #000000;  
      top: 57%;
      left: -1%;
      color: $clr4;
      margin-left: 20px;
      // transform: translate(-50%, -50%);
      // z-index: 1;
    }

  }
  h3 {
    margin: 30px 0;
  }
  span:first-of-type {
    margin-right: 10px;
  }
  p:last-of-type {
    margin-bottom: 20px;
  }
  .el-tag {
    cursor: pointer;
  }
}
