.home-page {
  .home-img-container {
    .parallax {
      /* The image used */
      background-image: url("https://res.cloudinary.com/des4awkkx/image/upload/v1594899621/parkour/wnvdnzqj5afqfk2igpsk.jpg");
      /* Set a specific height */
      min-height: 100vh;
      z-index: 1;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center left;
      background-repeat: no-repeat;
      background-size: cover;
      .on-picture {
        width: 100%;
        margin-top: 300px;

        h2 {
          margin-bottom: 15px;
          color: $clr4;
          font-size: rem(30px);
          text-shadow: 0px 0px 6px #000000;
          text-transform: uppercase;
        }

        .search {
          width: 50%;
          margin: 0 auto;
          gap: 5px;
          > * {
            margin-bottom: 10px;
            opacity: 0.9;
            z-index: 2;
            height: 40px;
          }
          input {
            flex: 70%;
            height: 40px;
            font-size: rem(20px);
          }
          button {
            background-color: $clr1;
            color: white;
            border: none;
            font-size: rem(20px);
          }
        }
      }
    }

    .el-tag {
      font-size: 1rem;
      background-color: $clr3;
      cursor: pointer;
      opacity: 0.9;
      transition: opacity 0.5s;
      &:hover {
        opacity: 1;
      }
    }
  }
  h2 {
    margin: 30px 0;
  }
}
