

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid $clr5;

  .screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
  
    transition: opacity 0.8s;
  }
  .btn-menu {
    cursor: pointer;
    display: inline;
  }

  .logo {
    font-family: RanchersRegular;
    word-spacing: rem(8px);
    font-size: rem(30px);
    cursor: pointer;
    color: black;
    word-spacing: 0;

    span {
      text-transform: capitalize;
      color: $clr1;
    }
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.8s;
    z-index: 2;

    span {
      display: none;
    }

    a {
      color: $clr2;
      font-family: JosefinSansMedium;
      background-color: rgb(222, 213, 198);
      padding: 10px 20px;
      transform: color 150s;
      text-transform: capitalize;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        color: $clr1;
      }
    }

    .profile {
        img {
            border-radius: 999px;
            height: 35px;
            width: 35px;
            object-fit: cover;
            margin-top: 5px;
        }
    }

    a:hover {
      color: $clr1;
    }

    a.router-link-exact-active {
      &:not(.logo) {
        color: $clr1;
      }
    }

  }

  &.menu-open{
    .main-nav {
      transform: translateX(0);
    }
    
    .screen{
      display: block;
      z-index: 1;
      visibility: visible;
      background-color: rgba(42, 42, 42, 0.4);
      opacity: 1;
    }
  }
}


@include for-normal-layout {
  .main-header {
      .logo {
         font-size: rem(35px);
      }
      .btn-menu {
         display: none;
      }
      .main-nav {
          flex-direction: row;
          position: static;
          transform: none;
          align-items: center;
          >*{
             margin-left: 15px;
          }
          span {
              display: inline;
          }
          a {
              padding: 0;
              background-color: rgba(255, 248, 240, 0);
          }
          .new-event {
            background-color: #d3d3d354;
            padding: 2px 10px;
            border-radius: 7px;
          }
      }
  }
}

