.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid $clr5;

  .logo {
    font-family: RanchersRegular;
    word-spacing: rem(8px);
    font-size: rem(35px);
    cursor: pointer;

    span {
      text-transform: capitalize;
      color: $clr1;
    }
  }

  nav {
    a {
      color: $clr2;
      text-decoration: none;
      font-family: JosefinSansMedium;
      padding: 15px 0;
      margin: 10px;
      transform: color 150s;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        color: $clr1;
      }
    }

    a:hover {
      color: $clr1;
    }

    a.router-link-exact-active {
      &:not(.logo) {
        color: $clr1;
      }
    }
  }

  
}
    // @include for-narrow-layout {
    //   // background-color: green;
    //   flex-direction: column;
    //   .logo {
    //     font-size: rem(40px);
    //   }
    // }
    
    // @include for-normal-layout {
    //   flex-direction: row;
    //   .logo {
    //     font-size: rem(40px);
    //   }
    // }
    
    // @include for-wide-layout {
    //   .logo {
    //     font-size: rem(50px);
    //   }
    // }

