.main-header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 65px;

  .logo {
    font-family: RanchersRegular;
    margin: 25px 0;
    word-spacing: rem(8px);

    span {
      text-transform: capitalize;
      color: $clr1;
    }
  }

  nav {
    a {
      color: $clr2;
      text-decoration: none;
      font-family: JosefinSansMedium;
      padding: 15px 0;
      margin: 10px;
      transform: color 150;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        color: $clr1;
      }
    }

    a:hover {
      color: $clr1;
    }

    a.router-link-exact-active {
      color: $clr1;
    }
  }

  @include for-narrow-layout {
    // background-color: green;
    flex-direction: column;
    .logo {
      font-size: rem(40px);
    }
  }
  
  @include for-normal-layout {
    flex-direction: row;
    .logo {
      font-size: rem(40px);
    }
  }
  
  @include for-wide-layout {
    .logo {
      font-size: rem(54px);
    }
  }

}

