* {
    box-sizing: border-box;
}

html {
    font-family: JosefinSansLight,  Helvetica, Arial;
    line-height: 2;
    color: $clr2;
    text-align: center;
    .el-input__inner, .el-textarea__inner {
        font-family: JosefinSansLight;
        font-size: 1rem;
    }
    input:hover,
    textarea:hover {
      cursor: pointer;
      color: $clr1;
    }
    .el-tag {
        background-color: $clr3;
        color: $clr2;
        border-color: #DCDFE6;
        &:hover {
            border-color: $clr2;
        }
    }
    .el-tag + .el-tag {
        margin-left: 10px;
    }
}

body {
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0;
    line-height: 1.3;
    font-family: JosefinSansMedium, serif;
}

p {
    margin: 0px;
}


#btn:hover{
    color: $clr1;
    border-color: #a16571;
    background-color: white;
}


// for alerts

.alert-modal {
    background-color: white;
    color: $clr1;
}

.alert-sec { 
    &::before{
        font-family: element-icons;
        content: "\e720";
    }
}

.alert-err {
    &::before{
        font-family: element-icons;
        content: "\e78d";
    }
}