* {
    box-sizing: border-box;
}

html {
    font-family: JosefinSansLight,  Helvetica, Arial;
    line-height: 2;
    color: $clr2;
    text-align: center;
    .el-input__inner, .el-textarea__inner {
        font-family: JosefinSansLight;
        font-size: 1rem;
    }
    input:hover,
    textarea:hover {
      cursor: pointer;
      color: $clr1;
    }
    .el-tag {
        background-color: $clr3;
        color: $clr2;
        border-color: #DCDFE6;
        &:hover {
            border-color: $clr2;
        }
    }
    .el-tag + .el-tag {
        margin-left: 10px;
    }
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0;
    line-height: 1;
    font-family: JosefinSansMedium, serif;
}

p {
    margin: 0px;
}

::selection {
    background-color: $clr1;
    color: $clr4;
}

// for alerts

// .toasted-primary {
//     background-color: red;
// }

.alert-toast {
    background-color: $clr5 !important;
    color: $clr1 !important;
    border-radius: 7px !important;
    letter-spacing: -.5px !important;
    box-shadow: none !important;
    .material-icons {
        color: $clr1 !important;
    }
}

// for element ui
.main-layout{
    .el-textarea__inner:focus {
        outline: 0;
        border-color: $clr1;
    }
    .el-textarea__inner:hover {
        border-color: $clr5;
    }
    .el-button:active {
        color: black;
        border-color: $clr1;
        outline: 0;
    }
    .el-button:focus, .el-button:hover {
        color: $clr1;
        border-color: #a16571;
        background-color: white;
    }

    .el-input.is-active .el-input__inner, .el-input__inner:focus {
        color: black;
        border-color: $clr1;
        outline: 0;
    }
    
    .el-select .el-input__inner:focus {
        color: black;
        border-color: $clr1;
    }
    .el-select .el-input.is-focus .el-input__inner {
        border-color: $clr1;
    }
    .el-select-dropdown__list{
        .el-select-dropdown__item.selected {
            color: $clr1;
            font-weight: 700;
        }
    }
    
}
