* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr3;
}

html {
    font-family: JosefinSansLight,  Helvetica, Arial;
    line-height: 2;
    color: $clr2;
    text-align: center;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 .4em;
    line-height: 1.3;
    font-family: JosefinSansMedium, serif;
}

p {
    margin: 0px;
}

input {
    ::placeholder {
        font-family: JosefinSansLight;
    }
    &[type=text] {
        font-family: JosefinSansLight;
    }
}
