
.site-block {
    margin-bottom: rem(20px);
}

// Aspect ratios

.ratio-16-9 { @include aspect-ratio(100, 56); }

.ratio-square { @include aspect-ratio(100, 100); }

.ratio-card { @include aspect-ratio(100, 80); }

.ratio-poster { @include aspect-ratio(100, 150); }



.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items:flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}