.main-layout {
    display: flex;
    flex-direction: column;
    header {
        height: 15vh;
        position: fixed;
        background: $clr3;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .main-container {
        margin-top: 15vh;
        min-height: 70vh;
        padding: 0 1.5rem;
    }
    footer {
        height: 15vh;
    }
}

@include for-normal-layout {
    .main-layout{
        .main-container {
            padding: 0;
        }
    }
}
    