.main-layout {
    display: flex;
    flex-direction: column;
    header {
        height: 60px;
        position: fixed;
        background: rgba(255, 248, 240, 0.8);
        top: 0;
        width: 100%;
        z-index: 100;
    }
    .main-container {
        margin-top: 60px;
        min-height: 70vh;
        padding: 10px 20px;
        // padding: rem(10px) rem(40px);
        &.home-page {
            margin-top: 0;
            padding: 0;
        }
    }
    footer {
        height: 15vh;
    }
}

@include for-normal-layout {
    .main-layout{
        .main-container {
            padding: 10px 40px;
            &.home-page {
                padding: 0;
            }
        }
    }
}
    