
.about-us{
    max-width: 700px;
    margin: 0 auto;
}

.team-member {
    padding: 0 2rem;
}

.team-member img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-top: 5px;
    object-fit: cover;
}

.team-member h4 {
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: none;
}

.tm-dit p {
    margin: 0;
    margin-bottom: .5rem;
}

.tm-desc p {
    margin-top: 0;
    margin-left: 2rem;
    font-size: .9rem;
}

.social-buttons {
    margin-bottom: 0;
}

.social-buttons a {
    font-size: 15px;
    line-height: 30px;
    display: block;
    width: 30px;
    height: 30px;
    transition: all 0.4s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222;
    margin-left: 2px;
}

.social-buttons a:hover {
    color: rgba(146, 29, 101, 0.753);
}

/* .tm-dit {
    max-width: 40%;
} */
.tm-desc {
    max-width: 50%;
    margin-left: 1rem;
}