
.about-us{
    max-width: 700px;
    margin: 0 auto;
   
    .team-member {
        padding: 1rem 1rem;
        align-items: center;
        flex-direction: column;
        h4 {
            margin-top: 1rem;
            margin-bottom: 0;
            text-transform: none;
        }
        .tm-img {
            img {
                width: 100px;
                height: 100px;
                border-radius: 40%;
                padding-top: 5px;
                object-fit: cover;
            }
        }
        .tm-dit {
            margin: 0 20px;
            p {
                margin-bottom: .5rem;
            }
            .social-buttons {
                a {
                    font-size: 15px;
                    line-height: 30px;
                    display: block;
                    width: 30px;
                    height: 30px;
                    transition: all 0.4s;
                    color: white;
                    border-radius: 100%;
                    outline: none;
                    background-color: #222222;
                    margin-left: 2px;
                }
                a:hover {
                    color: $clr3;
                }
            }
        }
        .tm-desc {
            max-width: 50%;
        }
    }
    .email {
        margin-left: 20px;
        span {
            cursor: pointer;
        }
    }
}

@include for-normal-layout {
    .about-us {
        .team-member {
            flex-direction: row;
        }
    }   
}