.evento-details {
    max-width: 1200px;
    margin: auto;

    .title {
        line-height: 1;
        letter-spacing: -1px;
        font-size: rem(30px);
        font-weight: bolder;
        text-align: left;
        padding-top: 40px;
        padding-bottom: 20px;
        .el-rate__icon, .el-rate__text {
            font-size: rem(20px);
        }
    }
    .img-wrapper {
        border-radius: 12px;
        .imgs-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 7px;
            width: 100%;
            height: 350px;
            :first-child {
                grid-row: span 2;
                grid-column: span 2;
            }
            :not(:first-child) {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
    .details-content {
        flex-direction: column;
        gap: 7%;
        >*{
            margin-top: rem(45px);
        }
        .info{
            flex: 55%;
            text-align: left;
            >*{
                padding-top: rem(30px);
                padding-bottom: rem(30px);
               
                &:not(:last-child){
                    border-bottom: 1px solid $clr5;
                }
            }
            .title {
                font-size: 25px;
            }
            .capacity {
                font-weight: bold;
                padding: 5px;
                color: $clr1;
                font-size: rem(20px);
            }
            .desc {
                font-size: rem(22px);
                line-height: 1.5;
            }
            .category {
                font-size: rem(18px);
                >*{
                    margin-bottom: 10px;
                }
                p {
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    line-height: 1;
                }
                // ul {
                //     li {
                //         font-size: rem(18px);
                //         padding: 10px;
                //         background-color: $clr3;
                //         line-height: 1;
                //         border-radius: 10px;
                //         margin: 0 5px; 
                //     }
                // }
            }
            .owner {
                font-size: rem(18px);
                gap: 5%;
                cursor: pointer;
                img {
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                }
                .bio {
                    line-height: 1.3;
                    margin-top: 5px;
                }
                h3 {
                    line-height: 1;
                    letter-spacing: -.5px;
                }
            }
        }
        .join {
            display: flex;
            flex-direction: row;
            text-align: left;
            flex: 30%;
            height: 100%;
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            border: 1px solid $clr5;
            border-radius: 12px;
            padding: 24px;
            background-color: $clr4;
            font-size: rem(20px);

            button {
                font-size: 18px;
                padding: 10px 15px;
                letter-spacing: 0.7px;
                cursor: pointer;
                color: $clr4;
                background-color: $clr1;
                border: none;
                border-radius: 4px;
                text-transform: capitalize;
                font-weight: bold;
                margin: 0 auto;
            }
            button:hover {
                background: darken($clr1, 5%)
              }
            >*{
                display: block;
                line-height: 1;
                text-transform: capitalize;
                margin-right: 2rem;
                margin-bottom: 0;
                font-size: rem(15px);
                font-weight: bold;
              }
            i {
                font-size: rem(25px);
                padding-right: 5px;
                padding-bottom: 5px;
            }
        }
    }

    .chat-box {
        position: fixed;
        bottom: 35px;
        right: 20px;
        margin: 0;
        background-color: #fafcfc;
        border-radius: 8px;
        box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
        width: 100vw;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
      
        header {
          background-color: #407FFF;
          display: flex;
          justify-content: center;
          padding: 10px;
          color: #52524e;
          
            img {
              max-width: 50px;
              max-height: 50px;
              margin: 0 10px;
            }
          
            h3 {
              flex-grow: 1;
            }
      
            button {
              font-size: 1.5em;
              padding: 0.1em;
              height: 1em;
              line-height: 0;
              width: 1em;
            }    
        }
      
        header:hover {
          color: #52524e;
        }
        
        .chat-body {
          height: 420px;
          overflow-y: scroll;
      
          .chat-area {
            list-style: none;
            padding: 20px;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
      
            .message {
              max-width: 50%;
              border-radius: 10px;
              padding: 0.8em;
              margin-bottom: .5em;
              font-size: 1em;
            }
      
            .message-out {
              background: #407FFF;
              color: white;
              align-self: flex-end;
              padding-left: 20px;
            }
      
            .message-in {
              background: #F1F0F0;
              color: black;
              padding-right: 10px;
            }
          }
        }
        
        .input-container {
          display: flex;
          width: 100%;
          background-color: #fafcfc;
      
          .input-msg {
            padding: 20px;
            flex-grow: 1;
            outline: none;
          }
      
          button {
             outline: none;
             padding-right: 10px;
          }
        }
      }
      
      @media (min-width: 780px) {
        .chat-box {
          min-width: 30vw;
          max-width: 400px;
        }
      }




}

@include for-normal-layout {
    .evento-details{
        .img-wrapper {
            .imgs-details {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                :not(:first-child) {
                    display: block;
                }
            }
        }
        .details-content {
            flex-direction: row;
            .join {
                flex-direction: column;
                top: 80px;
                >*{   
                    margin-bottom: 1rem;
                    margin-right: 0;
                    line-height: 2;
                    font-size: rem(20px);
                }
            }
        }
    }
}

