.evento-edit {
  // max-width: 700px;
  margin: auto, 0;
  display: flex;
  gap: 5%;
    .imgs-container {
        flex: 55%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 7px;
        width: 100%;
        height: 350px;
        .img-container {
          position: relative;
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }  
          button {
            position: absolute;
            width: fit-content;
            top: 3px;
            right: 3px;
            padding: 10px;
          }
      }
    }
  
    .form-container {
      flex: 40%;
      .title,
      .descritprion,
      .capaity,
      .tags,
      .time-date,
      .img-upload {
        margin: rem(15px) auto;
        *:focus {
          color: $clr1;
          border-color: $clr2;
        }
        label {
          margin-right: 15px;
        }
      }
      
      .title,
      .descritprion {
        input,
        textarea {
          width: 60%;
          margin: 0 auto;
        }
      }

      .capacity {
        label {
          margin-right: 10px;
        }
      }
  
      .tags {
        .el-icon-close {
          border-color: $clr1;
        }
        .el-tag {
          .el-icon-close {
            color: $clr2;
  
            &:hover {
              background-color: $clr1;
            }
          }
        }
        .el-tag,
        .el-input {
          background-color: $clr3;
          color: $clr2;
        }
        .el-tag + .el-tag {
          margin-left: 10px;
        }
        .button-new-tag {
          margin-left: 10px;
          height: 32px;
          line-height: 30px;
          padding-top: 0;
          padding-bottom: 0;
          &:hover {
            border-color: $clr2;
            background-color: $clr3;
            color: $clr2;
          }
        }
        .input-new-tag {
          width: 90px;
          margin-left: 10px;
          vertical-align: bottom;
        }
      }
  
      .img-upload {
        .custom-file-upload {
          border: 1px solid #dcdfe6;
          color: #606266;
          border-radius: 4px;
          font-size: 0.9375rem;
          display: inline-block;
          padding: 12px 20px;
          margin: 0;
          cursor: pointer;
          &:hover {
            background-color: $clr1;
            color: $clr2;
            border-color: $clr2;
          }
        }
        input[type="file"] {
          display: none;
        }
      }
  
      button {
        font-size: rem(15px);
      }
      button:hover {
        background-color: $clr1;
        color: $clr2;
        border-color: $clr2;
      }
    }
  }
  