.evento-details {
    max-width: 700px;
    margin: auto;
    .img-wrapper {
        border-radius: 12px;
    }
    .imgs-details {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 7px;
        width: 100%;
        height: 700px;
        :first-child {
            grid-row: span 2;
            grid-column: span 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .details-content {
        flex-direction: column;
        .info{
            flex: 70%;
            text-align: left;
            margin-right: 15px;
            >*{
                margin-top: 2rem;
            }
            .title {
                font-size: 25px
            }
            .capacity {
                border-radius: 5px;
                font-weight: bold;
                padding: 5px;
                color: $clr1;
                width: fit-content;
                font-size: 20px;
            }
            .desc {
                text-align: justify;
            }
            .owner {
                img {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    margin: auto 15px auto 0;
                }
            }
        }
        .join {
            display: flex;
            flex-direction: row;
            text-align: left;
            margin-top: 2rem;
            flex: 30%;
            height: 100%;
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            border: 2px solid rgb(221, 221, 221);
            border-radius: 12px;
            padding: 24px;
            background-color: white;
            button {
                font-size: rem(15px);
                padding: 12px 20px;
                cursor: pointer;
                color: $clr4;
                background-color: $callToAction;
                border: 1px solid $clr2;
                border-radius: 4px;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0 auto;
            }
            button:hover {
                background: darken($callToAction, 5%)
              }
            >*{
                display: block;
                line-height: 2;
                text-transform: capitalize;
                margin-right: 2rem;
                margin-bottom: 0;
              }
        }
    }
}

@include for-narrow-layout {
    .imgs-details {
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: repeat(2, 1fr);
       height: 350px;
    }
    .details-content {
        flex-direction: row;
    }
    .join {
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 80px;
        >*{
            display: block;     
            margin-bottom: 1rem;
        }
    }
}

  
//   @include for-narrow-layout {
//     .evento-preview {
//       padding: 0px;
//       border: none;
//     }
//   }