.login-page {
    max-width: 800px;
    margin: 0 auto;
    .login, .sign-up{
        >*{
            margin-top: 10px;
        }
    }
    input{
        width: 200px;
    }
    button{
        width: 100px;
    }
    form {
        >*{
            margin-top: 10px;
            margin-left: 0;
        }
    }

    .img-upload {
        .custom-file-upload {
          border: 1px solid #dcdfe6;
          color: #606266;
          border-radius: 4px;
          font-size: 0.9375rem;
          display: inline-block;
          padding: 12px 20px;
          margin: 0;
          cursor: pointer;
          &:hover {
            background-color: $clr1;
            color: $clr2;
            border-color: $clr2;
          }
        }
        input[type="file"] {
          display: none;
        }
      }
}