.evento-details {
    max-width: 700px;
    margin: auto;
    .img-wrapper {
        border-radius: 12px;
    }
    .imgs-details {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 7px;
        width: 100%;
        height: 350px;
        :first-child {
            grid-row: 1/-1;
            grid-column: span 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .details-content {
        .info{
            flex: 70%;
            text-align: left;
            margin-right: 15px;
            >*{
                margin-top: 2rem;
            }
            .title {
                font-size: 25px
            }
            .capacity {
                border-radius: 5px;
                font-weight: bold;
                padding: 5px;
                color: $clr1;
                width: fit-content;
                font-size: 20px;
            }
            .desc {
                text-align: justify;
            }
            .owner {
                img {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    margin: auto 15px auto 0;
                }
            }
        }
        .join {
            text-align: left;
            margin-top: 2rem;
            flex: 30%;
            height: 100%;
            position: -webkit-sticky;
            position: sticky;
            top: 80px;
            border: 2px solid rgb(221, 221, 221);
            border-radius: 12px;
            padding: 24px;
            button {
                font-size: rem(15px);
                padding: 12px 20px;
                cursor: pointer;
                color: $clr4;
                background-color: $clr1;
                border: 1px solid $clr2;
                border-radius: 4px;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0 auto;
            }
            button:hover {
                background: darken($clr1, 5%)
              }
            >*{
                display: block;
                margin-bottom: 1rem;
                line-height: 2;
                text-transform: capitalize;
              }
        }
    }




}

