
//for h - Iris liked
@font-face {
    font-family: JosefinSansMedium;
    src: url(~@/assets/fonts/Josefin_Sans/JosefinSans-Medium.ttf);
}

//for p
@font-face {
    font-family: JosefinSansLight;
    src: url(~@/assets/fonts/Josefin_Sans/JosefinSans-Light.ttf);
}

//for header
@font-face {
    font-family: RanchersRegular;
    src: url(~@/assets/fonts/Ranchers/Ranchers-Regular.ttf);
}

// another p
@font-face {
    font-family: QuicksandRegular;
    src: url(~@/assets/fonts/Quicksand/Quicksand-Regular.ttf);
}