
// COLOR PALETTE

$clr1: #A63A50;
$clr2: #272727ff;
$clr3: #fff8f0ff;
$clr4: #fff;
$clr5: rgb(224, 217, 217);
$callToAction: #56A3A6;

// LAYOUT BREAKPOINTS

$break-narrow: 300px;
$break-normal: 700px;
$break-wide: 960px;


